* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d5d3ed;
}

.intro {
    background-color: whitesmoke;
    display: flex;
    margin-top: 20px;
    border-radius: 15px; 
    overflow: hidden;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profile-image img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-text{
    flex: 1;
    padding: 25px;
    flex-grow: 1;
    justify-content: center;
}

.intro-text h2{
    margin-bottom: 15px;
}

.intro-text p{
    margin-bottom: 10px;
}


.intro-text p {
    font-size: 18px;
}

.location-icon {
    width: 12px; 
    height: 15px; 
}

.link:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.projects{
    margin-top: 20px;
}

.project-title{
    margin-left: 11vw;
    margin-top: 50px;
}

.video-item{
    display: flex;
    margin-top: 20px;
    border-radius: 15px; 
    overflow: hidden;
    flex-direction: row;

}

.vframe{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.vframe iframe {
    width: 300px;
    height: 175px;
    border-radius: 15px; 
    display: block;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-description{
    flex: 1;
    padding: 25px;
    flex-grow: 1;
    justify-content: center;
}

.video-description h2{
    margin-bottom: 15px;
}

.video-description p{
    margin-bottom: 10px;
}

.work{
    margin-top: 50px;
}

.title{
    margin-bottom: 30px;
    margin-left: 11vw;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 11vw;
}

.item{
    width: 300px;
    padding: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.item h3,
.item p {
    margin-bottom: 5px;
}


.item ul {
    padding-left: 25px;
}


@media screen and (max-width: 901px) {
    .intro, .projects, .video-item {
        flex-direction: column;
        text-align: justify; 
    }

    .profile-image {
        width: 100%; 
    }

    .vframe{
        width: 100%;
    }

    .vframe iframe {
        width: 250px;
        height: 150px;
    }

    .intro-text, .video-description {
        width: calc(100% - 80px);
        padding-right: 40px;
        padding-left: 40px;
    }

}